body {
  font-family: 'HelveticaNeue-Thin';
}

.slider-img {
  background-image: url("../img/background-4-cropped.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  max-height: 550px;
}

/*.top-nav-row {
  border-bottom: 1px solid #fff;
}*/

.top-nav-col-2 {
  border-right: 1px solid #fff;
  height: 48px;
}

.icons {
  height: 48px;
}

.nav-image img {
  padding: 15px;
}

.top-nav {
  list-style: none;
}

.top-nav li {
  display: inline-block;
  color: #fff;
  font-family: 'HelveticaNeue-Thin';
  font-size: 10px;
  padding-top: 15px;
}

.about-icon a {
  text-decoration: none;
  color: #fff;
  padding-right: 15px;
}

.contact-icon a {
  text-decoration: none;
  color: #fff;
  padding-right: 15px;
}

.icons li a {
  text-decoration: none;
  color: #fff;
}

.fb-icon a {
  padding-right: 15px;
}

.form-greeting {
  float: right;
  font-size: 42px;
  color: #fff;
  font-family: 'HelveticaNeue-Thin';
  margin-top: 75px;
  margin-bottom: 60px;
  text-align: right;
}

.form-command {
  font-size: 14px;
  color: #fff;
  font-family: 'HelveticaNeue-Thin';
}

.email-fail-header,
.email-success-header,
.email-success-content {
  color: #fff;
  font-family: 'HelveticaNeue-Thin';
}

.signup {
  background: blue !important;
}

.title {
  font-family: 'HelveticaNeue-Thin';
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
}

.hr-color {
  /*color: #e3eba7;*/
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #e3eba7;
}

.about {
  font-family: 'HelveticaNeue-Thin';
  font-size: 42px;
  text-align: center;
  margin-bottom: 100px;
}

.img-titles {
  font-family: 'HelveticaNeue-Thin';
  font-size: 22px;
}

.uppercase {
  text-transform: uppercase;
}

.italicize {
  font-style: italic;
  font-weight: 200;
}
.center {
  text-align: center;
}
